.img{
  display: block;
  width: 400px;
  border: 5px solid red; 
  border-left-color:aqua;
  border-bottom-style:groove;
  padding: 15px;
  margin: 50px 20px;
}
.neg-margin{
  margin-top: -30px;
}
.span{
  display: block;
  width: 200px;
  box-sizing:border-box;
  border: 5px solid red;
  padding: 20px 50px;
  margin: 20px auto;
}